.circle {
    position: relative;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
    z-index: 4;
}

.done, .current, .upComing {
    @extend .circle;
}

.done, .current {
    background-color: #003675;
}

.upComing {
    background-color: gray;
}
